# Development
/remotes/
test.php
/.buildpath
/.project
/.settings/*

# JetBrains
/.idea
*.iml

# Composer
vendor
composer.lock
composer.phar

# ApiGen
build/apigen

# PHPUnit
phpunit.xml
.phpunit.result.cache
coverage/
build/logs/*
!build/logs/.gitkeep

# PHP Code Sniffer Fixer
.php-cs-fixer.cache
